stages:
  - generate-docs
  - lint
  - build
  - test-repo
  - test

.node-image-matrix:
  image: 
    name: $BUILD_IMAGE_URL:$NODE_VERSION
  parallel:
    matrix:
      - NODE_VERSION: ["20.17.0"]
  cache:
    key:
      files:
        - package-lock.json
      prefix: "node_modules-${NODE_VERSION}"  # separate cache per Node version
    paths:
      - node_modules/
      - ../.npm
  before_script:
    - |
      echo "Using Node version: $(node -v)"
      npm config set cache ../.npm
      npm ci --prefer-offline --ignore-scripts


generate-docs:
  stage: generate-docs
  extends: .node-image-matrix
  script:
    - git status -s
    - npm run generate-docs && [[ -z "$(git status -s)" ]]

lint:
  stage: lint
  extends: .node-image-matrix
  script:
    - npm run lint

build:
  stage: build
  extends: .node-image-matrix
  artifacts:
    expire_in: 1 hrs
    paths:
      - ./packages/profiler/dist
      - ./packages/profiler-core/dist
      - ./packages/profiler-jest-environment/*.js
      - ./packages/profiler-jest-environment/*.d.ts
      - ./packages/cli/dist
      - ./packages/windows-sensorinterface/dist
  script:
    - npm run build

test-repo:
  stage: test-repo
  extends: .node-image-matrix
  script:
    - cd $CI_PROJECT_DIR/packages/profiler && npm link
    - cd $CI_PROJECT_DIR/packages/profiler-core && npm link
    - cd $CI_PROJECT_DIR
    - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@${TEST_REPOSITROY}.git
    - cd oaklean-tests
    - git checkout main
    - npm ci
    - npm link @oaklean/profiler @oaklean/profiler-core
    - npm run build
    - npm run measure

test:
  stage: test
  extends: .node-image-matrix
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    expire_in: 1 hrs
    paths:
      - ./profiles/jest/accumulated.oak
      - ./profiles/jest/performance.json
  variables:
    OAKLEAN_DISABLE_REGISTRY: true
  script:
    - npm run test-measure
