workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never  # Prevent pipeline run for push event
    - when: always # Run pipeline for all other cases

variables:
  # This variable is used to specify which Node version's artifacts should be deployed.
  # It should match one of the versions in the .node-image-matrix in pipeline-linux.yml
  NODE_VERSION_TO_DEPLOY: 20.17.0

stages:
  - platform-build-and-test
  - test-artifacts
  - deploy

pipeline-windows:
  stage: platform-build-and-test
  trigger:
    include: 
      - local: .gitlab/pipeline-windows.yml
    strategy: depend

pipeline-linux:
  stage: platform-build-and-test
  trigger:
    include: 
      - local: .gitlab/pipeline-linux.yml
    strategy: depend

test-measure-artifacts-linux:
  image: $BUILD_IMAGE_URL:$NODE_VERSION_TO_DEPLOY
  stage: test-artifacts
  variables:
    DOWN_STREAM_PIPELINE_NAME: pipeline-linux
    ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE: test
    HEADER: "PRIVATE-TOKEN: $GITLAB_API_TOKEN"
  artifacts:
    expire_in: 1 week
    paths:
      - test_measure_artifacts_linux_test_*.zip
  script:
    - echo "Fetching artifacts from downstream pipeline..."
    - echo $DOWN_STREAM_PIPELINE_NAME $ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE $HEADER
    # Get the downstream pipeline id
    - DOWNSTREAM_PIPELINE_ID=$(curl --location "$GITLAB_API_ENDPOINT/projects/$CI_PROJECT_ID/pipelines/$CI_PIPELINE_ID/bridges" --header "$HEADER" | jq ".[] | select(.name == \"$DOWN_STREAM_PIPELINE_NAME\") | .downstream_pipeline.id")
    # Get the artifact job id in the downstream pipeline
    - ARTIFACT_JOBS=$(curl --location "$GITLAB_API_ENDPOINT/projects/$CI_PROJECT_ID/pipelines/$DOWNSTREAM_PIPELINE_ID/jobs" --header "$HEADER" | jq -r ".[] | select(.name | startswith(\"$ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE:\")) | [.id, .name] | @tsv")
    - echo "Jobs found:"
    - echo "$ARTIFACT_JOBS"
    - |
      while IFS=$'\t' read -r JOB_ID JOB_NAME; do
        SAFE_NAME=$(echo $JOB_NAME | tr ' /:' '_' | tr -d '[]');  # sanitize name
        ARTIFACT_URL="$GITLAB_API_ENDPOINT/projects/$CI_PROJECT_ID/jobs/$JOB_ID/artifacts";
        OUTPUT_FILE="test_measure_artifacts_linux_${SAFE_NAME}.zip";
        echo "Downloading artifacts from job $JOB_NAME ($JOB_ID) to $OUTPUT_FILE";
        curl --header "$HEADER" --location "$ARTIFACT_URL" -o $OUTPUT_FILE;
      done <<< "$ARTIFACT_JOBS"

deploy-artifacts:
  image: $BUILD_IMAGE_URL:$NODE_VERSION_TO_DEPLOY
  stage: deploy
  only: 
    - /^release.*$/
  variables:
    DOWN_STREAM_PIPELINE_NAME: pipeline-linux
    ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE: build
    HEADER: "PRIVATE-TOKEN: $GITLAB_API_TOKEN"
  artifacts:
    expire_in: 1 week
    paths:
      - deploy_artifacts.zip
  script:
    - echo $DOWN_STREAM_PIPELINE_NAME $ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE $HEADER
    # Get the downstream pipeline id
    - DOWNSTREAM_PIPELINE_ID=$(curl --location "$GITLAB_API_ENDPOINT/projects/$CI_PROJECT_ID/pipelines/$CI_PIPELINE_ID/bridges" --header "$HEADER" | jq ".[] | select(.name == \"$DOWN_STREAM_PIPELINE_NAME\") | .downstream_pipeline.id")
    # Get the artifact job id in the downstream pipeline
    - ARTIFACT_JOBS=$(curl --location "$GITLAB_API_ENDPOINT/projects/$CI_PROJECT_ID/pipelines/$DOWNSTREAM_PIPELINE_ID/jobs" --header "$HEADER" | jq -r ".[] | select(.name | startswith(\"$ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE:\")) | [.id, .name] | @tsv")
    - echo "Jobs found:"
    - echo "$ARTIFACT_JOBS"
    - |
      while IFS=$'\t' read -r JOB_ID JOB_NAME; do
        if [[ "$JOB_NAME" == "$ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE: [$NODE_VERSION_TO_DEPLOY]" ]]; then
          echo "Downloading artifacts from job $JOB_NAME ($JOB_ID) to deploy_artifacts.zip";
          ARTIFACT_URL="$GITLAB_API_ENDPOINT/projects/$CI_PROJECT_ID/jobs/$JOB_ID/artifacts";
          curl --header "$HEADER" --location "$ARTIFACT_URL" -o deploy_artifacts.zip;
          break
        fi
      done <<< "$ARTIFACT_JOBS"

deploy-mandatory:
  image: $BUILD_IMAGE_URL:$NODE_VERSION_TO_DEPLOY
  stage: deploy
  needs:
    - job: deploy-artifacts
      artifacts: true
  only:
    - /^release.*$/
  variables:
    NODE_ENV: production
  script:
    # Unzip the artifacts
    - unzip deploy_artifacts.zip
    - rm deploy_artifacts.zip
    # Deploy the package to the private registry
    - echo -e "${PRIVATE_REGISTRY}${CI_JOB_TOKEN}">.npmrc
    - npm run publish-registry-mandatory

deploy-optional:
  image: $BUILD_IMAGE_URL:$NODE_VERSION_TO_DEPLOY
  stage: deploy
  when: manual
  needs:
    - job: deploy-artifacts
      artifacts: true
  only:
    - /^release.*$/
  variables:
    NODE_ENV: production
  script:
    # Unzip the artifacts
    - unzip deploy_artifacts.zip
    - rm deploy_artifacts.zip
    # Deploy the package to the private registry
    - echo -e "${PRIVATE_REGISTRY}${CI_JOB_TOKEN}">.npmrc
    - npm run publish-registry-optional
