
workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never  # Prevent pipeline run for push event
    - when: always # Run pipeline for all other cases

stages:
  - platform-build-and-test
  - deploy

# pipeline-windows:
#   stage: platform-build-and-test
#   trigger:
#     include: 
#       - local: .gitlab/pipeline-windows.yml
#     strategy: depend

pipeline-linux:
  stage: platform-build-and-test
  trigger:
    include: 
      - local: .gitlab/pipeline-linux.yml
    strategy: depend

deploy:
  image: $BUILD_IMAGE
  stage: deploy
  variables:
    DOWN_STREAM_PIPELINE_NAME: pipeline-linux
    ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE: build
    HEADER: "PRIVATE-TOKEN: $GITLAB_API_TOKEN"
  script:
    - echo $DOWN_STREAM_PIPELINE_NAME $ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE $HEADER
    # Get the downstream pipeline id
    - DOWNSTREAM_PIPELINE_ID=$(curl --location "$GITLAB_API_ENDPOINT/projects/$CI_PROJECT_ID/pipelines/$CI_PIPELINE_ID/bridges" --header "$HEADER" | jq ".[] | select(.name == \"$DOWN_STREAM_PIPELINE_NAME\") | .downstream_pipeline.id")
    # Get the artifact job id in the downstream pipeline
    - ARTIFACT_JOB_ID=$(curl --location "$GITLAB_API_ENDPOINT/projects/$CI_PROJECT_ID/pipelines/$DOWNSTREAM_PIPELINE_ID/jobs" --header "$HEADER" | jq ".[] | select(.name == \"$ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE\") | .id")
    # Get the artifact url
    - ARTIFACT_URL="$GITLAB_API_ENDPOINT/projects/$CI_PROJECT_ID/jobs/$ARTIFACT_JOB_ID/artifacts"
    # Download the artifacts
    - curl --header "$HEADER" $ARTIFACT_URL -o downstream_artifacts.zip
    - ls -la downstream_artifacts.zip
    # Unzip the artifacts
    - unzip downstream_artifacts.zip
    - echo "Processing artifacts from pipeline-linux"
    - ls ./packages/profiler/dist
    - ls ./packages/profiler-core/dist
    - ls ./packages/profiler-jest-environment/*.js
    - ls ./packages/profiler-jest-environment/*.d.ts
    - ls ./packages/cli/dist
    - ls ./packages/windows-sensorinterface/dist