stages:
  - test

.image-matrix:
  image: 
    name: $BUILD_IMAGE_URL:$NODE_VERSION
  variables:
    BUILD_IMAGE_URL: harbor.hitabis.de/oaklean/oaklean-build-image-node
  parallel:
    matrix:
      - NODE_VERSION: ["20.17.0", "22.13.0", "24.0.0"]
  cache:
    key:
      files:
        - package-lock.json
      prefix: "node_modules-${NODE_VERSION}"  # separate cache per Node version
    paths:
      - node_modules/
      - .npm
  script:
    - echo "Using Node version: $(node -v)"
    - npm config set cache .npm
    - npm ci --prefer-offline --ignore-scripts

test:
  stage: test
  extends: .image-matrix
  script:
    - echo $(node -v)