stages:
  - pull_repo

pull_other_repo:
  stage: pull_repo
  image: alpine:latest
  before_script:
    - apk add --no-cache git
  script:
    - git clone https://gitlab-ci-token:${CI_GITLAB_TOKEN}@${TEST_REPOSITROY}.git
    - cd oaklean-tests
    - git checkout main
    - git status