stages:
  - test

.image-matrix:
  image: 
    name: $BUILD_IMAGE_URL:$NODE_VERSION
  variables:
    BUILD_IMAGE_URL: harbor.hitabis.de/oaklean/oaklean-build-image-node
  parallel:
    matrix:
      - NODE_VERSION: ["20.17.0", "22.13.0", "24.0.0"]
  script:
    - echo $(node -v)

test:
  stage: test
  extends: .image-matrix
  script:
    # Fail intentionally for version 20.17.0
    - |
      if [ "$NODE_VERSION" = "20.17.0" ]; then
        echo "Failing intentionally for Node $NODE_VERSION"
        exit 1
      fi
    - echo $(node -v)