
workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never  # Prevent pipeline run for push event
    - when: always # Run pipeline for all other cases

stages:
  - platform-build-and-test
  - deploy

pipeline-windows:
  stage: platform-build-and-test
  trigger:
    include: 
      - local: .gitlab/pipeline-windows.yml
    strategy: depend

pipeline-linux:
  stage: platform-build-and-test
  trigger:
    include: 
      - local: .gitlab/pipeline-linux.yml
    strategy: depend

downstream-artifacts:
  stage: deploy
  only: 
    - /^release.*$/
  variables:
    DOWN_STREAM_PIPELINE_NAME: pipeline-linux
    ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE: build
    HEADER: "PRIVATE-TOKEN: $GITLAB_API_TOKEN"
    NODE_ENV: production
  artifacts:
    expire_in: 1 week
    paths:
      - downstream_artifacts.zip
  script:
    - echo $DOWN_STREAM_PIPELINE_NAME $ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE $HEADER
    # Get the downstream pipeline id
    - DOWNSTREAM_PIPELINE_ID=$(curl --location "$GITLAB_API_ENDPOINT/projects/$CI_PROJECT_ID/pipelines/$CI_PIPELINE_ID/bridges" --header "$HEADER" | jq ".[] | select(.name == \"$DOWN_STREAM_PIPELINE_NAME\") | .downstream_pipeline.id")
    # Get the artifact job id in the downstream pipeline
    - ARTIFACT_JOB_ID=$(curl --location "$GITLAB_API_ENDPOINT/projects/$CI_PROJECT_ID/pipelines/$DOWNSTREAM_PIPELINE_ID/jobs" --header "$HEADER" | jq ".[] | select(.name == \"$ARTIFACT_JOB_IN_DOWNSTREAM_PIPELINE\") | .id")
    # Get the artifact url
    - ARTIFACT_URL="$GITLAB_API_ENDPOINT/projects/$CI_PROJECT_ID/jobs/$ARTIFACT_JOB_ID/artifacts"
    # Download the artifacts
    - curl --header "$HEADER" $ARTIFACT_URL -o downstream_artifacts.zip

deploy-mandatory:
  image: $BUILD_IMAGE
  stage: deploy
  dependencies:
    - downstream-artifacts
  only:
    - /^release.*$/
  script:
    # Unzip the artifacts
    - unzip downstream_artifacts.zip
    - rm downstream_artifacts.zip
    # Deploy the package to the private registry
    - echo -e "${PRIVATE_REGISTRY}${CI_JOB_TOKEN}">.npmrc
    - npm run publish-registry-mandatory

deploy-optional:
  image: $BUILD_IMAGE
  stage: deploy
  allow_failure: true
  dependencies:
    - downstream-artifacts
  only:
    - /^release.*$/
  script:
    # Unzip the artifacts
    - unzip downstream_artifacts.zip
    - rm downstream_artifacts.zip
    # Deploy the package to the private registry
    - echo -e "${PRIVATE_REGISTRY}${CI_JOB_TOKEN}">.npmrc
    - npm run publish-registry-optional
