
workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never  # Prevent pipeline run for push event
    - when: always # Run pipeline for all other cases

stages:
  - pipeline-windows
  - pipeline-linux

pipeline-windows:
  stage: pipeline-windows
  trigger:
    include: 
      - local: .gitlab/pipeline-windows.yml

pipeline-linux:
  stage: pipeline-linux
  trigger:
    include: 
      - local: .gitlab/pipeline-linux.yml
