
workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never  # Prevent pipeline run for push event
    - when: always # Run pipeline for all other cases

stages:
  - platform-tests

pipeline-windows:
  stage: platform-tests
  trigger:
    include: 
      - local: .gitlab/pipeline-windows.yml

pipeline-linux:
  stage: platform-tests
  trigger:
    include: 
      - local: .gitlab/pipeline-linux.yml
